/* General from CSS */

.assist-gen-form-container {
    width: 100%;
    background: #ffffff;
    /* border: 1px solid #27272E; */
    border-radius: 32px;
    box-sizing: border-box;

    
  }
  .assist-input-field {
    width: 100%;
    margin-top: -10px;
    /* padding: 28px; */
  }
  
  .assist-form-input-detail {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    
  }
  .assist-input-icon {
    color: #292930;
    position: absolute;
    top: 50%;
    left: 12px;
    z-index: 1;
    transform: translateY(-50%);
  }
  .assist-form-container-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #292930;
  }
  
  .assist-form-container-input-field,.attachment {
    width: 100%;
    height: 39px;
    padding-left: 48px;
    display: inline-block;
    width: 100%;
    border: 1px solid #e3e6e9;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #292930;
    transition: all 0.25s;
  }
  
  .assist-attachment{
      border: 1px solid blue;
      margin-top: 15px;
  }
  .assist-form-container-input-btn {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    height: 45px;
    background: #93CAAF;
    color: white;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.04em;
    transition: all 0.25s;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }
  .assist-form-container-input textarea {
    /* margin-bottom: 66px; */
    padding-top: 10px;
    width: 100%;
    display: inline-block;
    height: 84px;
    padding-left: 48px;
    border: 1px solid #e3e6e9;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #292930;
    transition: all 0.25s;
    vertical-align: middle;
  }
  
  .assist-form-text-area {
    position: relative;
  }
  
  .assist-text-area-icon {
    position: absolute;
    top: -29px;
  
    z-index: 1;
    /* transform: translateY(-50%); */
  }
  .assist-small-para {
    margin-block: 24px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #27272e;
  }
  .assist-date-time {
    height: 39px;
    width: 100%;
  }
  
  .assist-date-value input {
    color: rgb(128, 123, 123);
    padding-left: 50px;
  }
  
  .attachment-optional{
    color: slategray;
  }
  @media screen and (max-width: 767px) {
    .assist-gen-form-container {
      /* width: 350px; */
    }
  
    .assist-form-container-header {
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
    }
  
    .assist-input-field {
      padding: 28px;
    }
  
    .assist-small-para {
      margin-block: 10px;
    }
  }
  @media screen and (max-width: 479px) {
    .assist-gen-form-container {
      border: none;
    }
  
    .assist-input-field {
      padding-inline: 4px;
    }
  }
  