.p {
  font-size: 16px;
}
.blogpagecontainer .hire-h2 {
  color: #0a0a23;
}
.bloglistcontainer {
  padding: 0px 0px 200px;
}
.blogpagecontainer {
  margin-top: 50px;
  padding: 150px;
  padding-top: 0px;
}
.background_image_container {
  height: 100%;
  width: 100%;
  margin-top: 90px;
}
/* .blog-shades {
  padding: 48px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
} */

.ql-editor .ql-blank {
  height: 500px;
}
.bloglistcontainer div h1 {
  margin-bottom: 72px;
}

.breadcumbarea {
  background: url(/images/blog-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 130px 0 130px;
  margin-top: 100px;
}
.controlbtndiv {
  position: relative;
  top: 100px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
  padding: 20px;
}
.logout {
  color: aliceblue;
  border-radius: 10px;
  height: 46px;
  /* width: 100px; */
}
.create-btn {
  color: aliceblue;
  border-radius: 10px;
  height: 46px;
  /* width: 100px; */
}
.blogbackbtn {
  position: relative;
  top: 150px;
  left: 60px;
  z-index: 1;
}
.cardtitle {
  transition: all 0.5s ease-out;
}
.cardtitle:hover {
  text-decoration: underline;
}
.link-text:hover {
  text-decoration: underline;
}

/* ........create blog..... */
.editblog {
  margin: 70px 60px 100px;
  border: 0.5px solid gray;
  padding: 90px;
  margin-top: 200px;
}
.editblog h1 {
  margin-bottom: 70px;
}
.ql-container {
  height: 500px;
}

.editorbtn {
  margin-top: 75px;
  /* margin-left: 1042px; */
  width: 110px;
  height: 46px;
  color: aliceblue;
  background: #2522ba;
  border: 1px solid #2522ba;
  border-radius: 16px;
  /* #0b57d0 */
  transition: all 0.5s ease-out;
}
.editorbtn:hover {
  color: aliceblue;
  background: #2972e7;
  border-radius: 16px;
  /* #0b57d0 */
}
.htmlContent p {
  font-size: 18px;
}

.htmlContent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.htmlContent ul {
  padding-left: 40px;
}
.htmlContent ul li {
  list-style: disc;
}

.htmlContent ol li {
  list-style: decimal;
}

.uploadbannerimg {
  border: 0.5px solid lightgrey;
  padding: 15px;
}
.fileerror {
  padding: 5px;
}

.textblue {
  color: #2522ba;
}

/* modal for delete */
.modalbtn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.modalbtn:hover {
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
  z-index: 1071;
}
.modal {
  z-index: 1070;
}
/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
  z-index: 1072;
}

/* Add padding and center-align text to the container */
.modalcontainer {
  padding: 16px;
  text-align: center;
}

/* modal */
.blogmodalcontent {
  border-radius: 0px;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

/* Modal Content/Box */
.modalcontent {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 0px;
}

.modalcontainer h2 {
  margin-bottom: 40px;
}
.modalcontainer p {
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.customcard {
  flex-direction: row;
  border: none;
  padding: 0px;
}
.customcol {
  width: 33%;
  margin-right: 2px;
}
.text_end {
  text-align: right !important;
  margin-right: 38px;
  color: #5956e9;
  margin-top: 30px;
}
.design {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.045em;
  color: #5956e9;
  margin-left: 5px;
  font-weight: bold;
}

.design .icon {
  margin-top: 3px;
  margin-left: 7px;
  font-size: 16px;
  font-weight: bold;
  fill: #5956e9;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  width: 0.57em;
  height: 1em;
}

.design:hover .icon {
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
  color: #5956e9;
  fill: #5956e9;
}
.cardheading {
  font-size: 24px;
  font-family: 'DM Sans';
  color: #a5abb8;
  width: 222px;
  margin-bottom: 7px;
  margin-top: -9px;
}

.cardtitle {
  font-weight: normal;
  font-family: 'Poppins';
  margin-left: 5px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.design__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.045em;
  color: #292930;
  margin-top: 23px;
}

.design__link .icon {
  margin-top: -2px;
  margin-left: 10px;
  font-size: 14px;
  fill: #292930;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  width: 0.57em;
  height: 1em;
}

.design__link:hover .icon {
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
  color: #5956e9;
  fill: #5956e9;
}

.blog__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.045em;
  color: #292930;
  margin-top: 48px;
}

.blog__link .icon {
  margin-top: -2px;
  margin-left: 10px;
  font-size: 14px;
  fill: #292930;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  width: 0.57em;
  height: 1em;
}

.blog__link:hover .icon {
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
  color: #5956e9;
  fill: #5956e9;
}
.blogcontainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.blogcontainerleft {
  width: 50%;
}
.blogh1 {
  color: #fab8c4;
  font-size: 20px;
  font-family: 'DM Sans';
  font-weight: 700;
  margin-bottom: 4.1875rem;
  margin-left: 10px;
}
.blogh2 {
  color: #5956E9;
  font-size: 20px;
  font-family: 'DM Sans';
  font-weight: 700;
  margin-bottom: 4.1875rem;
  margin-left: 10px;
}
.blogcentertext {
  color: #292930;
  font-size: 60px;
  font-family: 'DM Sans';
  font-weight: 400;
  margin-left: 25px;
  margin-bottom: 66px;
}
.text {
  color: #999fae;
  font-size: 1rem;
  font-family: 'DM Sans';
  font-weight: 400;
  width: 80%;
}
.mainblogcontainer {
  margin-top: 120px;
}
.bluecircle {
  background-color: #6563e3a2;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  right: -295px;
  top: -250px;
  position: absolute;
}
.circle {
  border-radius: 60px;
  background-color: #dddcdc;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 32%;
  right: 55%;
}
.card {
  border: none;
  flex-direction: row;
  background: none;
}
.bottomcircle {
  background-color: #ffdc60;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  left: -175px;
  bottom: 191px;
  position: relative;
}
.pinkcircle {
  background-color: #fed1f03e;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: -100px;
  top: 405px;
  position: relative;
}
.bottombluecircle {
  background-color: #5956e9;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: -1400px;
  bottom: 1120px;
  position: relative;
}
.blogheading {
  font-size: 24px;
  font-family: 'DM Sans';
  color: #292930;
  width: 222px;
  font-weight: normal;
  margin-bottom: 27px;
  margin-top: -7px;
}
.blogtitle {
  width: 189px;
}
.title h3 {
  color: #999fae;
  font-size: 0.9rem;
  width: 160px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.bloglistdesc {
  height: 105px;
}
.topblogcontainer {
  background-image: url('/blogs/blogbackground.webp');
}
.blogcloud1 {
  top: 14px;
  left: 609px;
  position: absolute;
}
.blogcloud2 {
  position: absolute;
  top: 14px;
  right: 98px;
}

.card {
  width: 600px;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}

@media only screen and (max-width: 1439px) {
  .cardheading {
    width: 131px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cardbody {
    width: 45%;
    padding: 0em 0.4em 0em;
  }
  .text_end {
    margin-right: -16px;
    margin-top: 40px;
  }
  .design__link {
    margin-top: 0px;
  }
  .card_img {
    width: 100px;
  }
  .blogcontainerleft {
    width: 75%;
  }
  .circle {
    top: 30%;
    right: 48%;
  }
  .card {
    width: 476px;
  }
  .blogcontainerright {
    margin-top: 103px;
  }
  .blogimage {
  }
}

@media only screen and (max-width: 1024px) {
  .blogpagecontainer {
    padding: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .customcol {
    width: 75%;
    margin-left: 68px;
    margin-bottom: 15px;
  }
  .cardheading {
    width: 290px;
  }
  .customcard {
    gap: 21px;
    margin-bottom: 25px;
  }
  .card_img {
    width: 34%;
  }
  .blogcontainer {
    align-items: center;
  }
  .blogcontainerleft {
    width: 100%;
  }
  .circle {
    top: 26%;
    right: 38%;
  }
  .text {
    width: 95%;
  }
  .bloglistcontaine {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .blogpagecontainer {
    margin-top: 50px;
    padding: 50px;
  }
}
@media only screen and (max-width: 479px) {
  .blogpagecontainer {
    padding: 20px;
  }
  .blogshades {
    padding: 0px;
    box-shadow: none;
  }
  .card_img {
    width: 79%;
    margin-left: 30px;
  }
  .blog_list {
    flex-direction: column;
  }
  .customcol {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .customcard {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0px;
  }
  .cardheading {
    width: 100%;
    margin-top: 13px;
  }
  .cardbody {
    width: 100%;
    margin-left: 53px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .text_end {
    margin-right: 40px;
  }
  .design__link {
    margin-top: 0px;
  }
  .blogcontainer {
    flex-direction: column-reverse;
  }
  .blogcontainerleft {
    width: 100%;
  }
  .blogcentertext {
    margin-left: 0px;
  }
  .text {
    width: 100%;
  }
  .circle {
    top: 89%;
    right: 13%;
  }
  .blogcontainerright {
    margin-bottom: 20px;
  }
  .card {
    width: 400px;
    margin-left: 0px;
    padding: 0px;
  }
  .readtxt {
    margin-top: 51px;
  }
  .blogimage {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .background_image_container {
    height: 50vh;
    background-size: contain;
  }
  .blogpagecontainer {
    margin-top: 0px;
    padding: 20px;
    padding-top: 0px;
  }
}
.hirecontainer {
  position: relative;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  /* outline: rgb(230, 5, 5) solid; */
  max-width: 1440px;
}