html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  min-width: 178px;
  height: 72px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -.04em;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.plan__btn {
  min-width: 100%;
  margin-top: auto;
}

/* Header Component CSS Start */
.header__btn.btn:hover {
  color: #0a58ca;
}

.icon-header-img{
  height: 35px;
  width: 35px;
}

.header_explore_pic {
  width: auto !important;
}

.header__col:first-child .header__box:first-child .header__preview {
  top: -7px;
  left: -18px;
  width: auto;
}

.header__col:first-child .header__box:nth-child(2) .header__preview {
  top: -7px;
  left: -10px;
  width: auto;
}

.header__col:first-child .header__box:nth-child(3) .header__preview {
  top: -10px;
  left: -12px;
  width: auto;
}

.header__col:first-child .header__box:nth-child(4) .header__preview {
  top: -7px;
  left: -18px;
  width: auto;
}

.header__col:first-child .header__box:nth-child(5) .header__preview {
  top: -7px;
  left: -18px;
  width: auto;
}

.header__col:first-child .header__box:nth-child(6) .header__preview {
  top: -7px;
  left: -18px;
  width: auto;
}

.header__col:first-child .header__box:nth-child(7) .header__preview {
  top: -7px;
  left: -40px;
  width: auto;
}

.header__col:nth-child(2) .header__box:nth-child(3) .header__preview {
  top: -10px;
  left: -8px;
  width: 110px;
}

.header__col:nth-child(2) .header__box:nth-child(4) .header__preview {
  top: -10px;
  left: -8px;
  width: 110px;
}

.header__col:nth-child(2) .header__box:nth-child(5) .header__preview {
  top: -10px;
  left: -8px;
  width: 110px;
}

.header__col:nth-child(2) .header__box:nth-child(6) .header__preview {
  top: -10px;
  left: -8px;
  width: 110px;
}

.header__col:nth-child(2) .header__box:nth-child(7) .header__preview {
  top: -10px;
  left: -8px;
  width: 110px;
}

.header__col:nth-child(2) .header__box:nth-child(8) .header__preview {
  top: -10px;
  left: -8px;
  width: 110px;
}

.header__col:nth-child(3) .header__box:nth-child(3) .header__preview {
  top: 0px;
  left: -3px;
  width: 70px;
}
/* Header Component CSS End */

.btn_purple {
  background: #5956E9;
  color: #fff;
}

.btn_purple.btn:hover {
  color: #fff;
}

.main__link:hover {
  color: #999FAE
}

.btn_white {
  background: #fff;
  color: #2522BA;
}

.btn_white.btn:hover {
  color: #2522BA;
}

.package__arrow:hover {
  background: #5956E9;
}

.btn_pink {
  background: #FAB8C4;
  color: #2522BA;
}

.btn_pink.btn:hover {
  color: #2522BA;
}

.design__slide {
  width: auto !important;
}

.design__link:hover {
  color: inherit;
}

.access__btn {
  position: static;
  min-width: 100%;
  height: 72px;
  margin-top: 16px;
}

/* Contact Component CSS Start */
.contact__logo {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 145px;
  margin-right: auto;
  font-size: 0;
  width: 200px;
}

.contact__head {
  display: block;
  text-align: center;
  margin-bottom: 0;
}

.contact__row {
  justify-content: center;
}

.contact__center {
  max-width: 760px;
}

.contact__circle {
  position: absolute;
  border-radius: 50%;
}

.contact__circles .contact__circle:first-child {
  left: -24px;
  top: 200px;
  width: 48px;
  height: 48px;
  background: #FFDC60;
}

.contact__circles .contact__circle:nth-child(2) {
  top: -17px;
  right: 220px;
  width: 32px;
  height: 32px;
  background: #FAB8C4;
}

.contact__cloud {
  position: absolute;
  left: 4%;
  top: 220px;
  width: 162px;
  font-size: 0;
}

.contact_cloud_2 {
  position: absolute;
  right: 7%;
  top: 70px;
  width: 100px;
  font-size: 0;
}

.contact__bucket {
  position: absolute;
  top: 320px;
  right: 120px;
}

.contact_bucket_pic {
  width: 300px;
}

.contact_circle_2 {
  position: absolute;
  border-radius: 50%;
}

.contact_circles_2 .contact_circle_2:first-child {
  top: 540px;
  left: calc(50% - 500px);
  width: 24px;
  height: 24px;
  background: #fff;
}

.contact_circles_2 .contact_circle_2:nth-child(2) {
  right: calc(50% - 580px);
  bottom: 270px;
  width: 67px;
  height: 67px;
  background: #5956E9;
}

.contact_circles_2 .contact_circle_2:nth-child(3) {
  right: calc(50% - 448px);
  bottom: -25px;
  width: 215px;
  height: 215px;
  background: #FAB8C4;
  z-index: -3;
}

.contact_circles_2 .contact_circle_2:nth-child(4) {
  right: calc(50% - 553px);
  bottom: 453px;
  width: 16px;
  height: 16px;
  background: #fff;
}

.contact_arrow_pic {
  width: 270px;
}

.contact__arrow {
  position: absolute;
  bottom: 170px;
  left: 150px;
}

.field_text_area {
  height: 130px;
  padding-top: 10px;
}

.contact_solo {
  background: #F5F5F5;
  z-index: 0;
}

.contact-field-icon {
  top: 12px;
}

.contact-field-input {
  height: 50px;
}

.contact-submit-btn {
  height: 60px;
}
/* Contact Component CSS End */

/* Main Component CSS Start */
/* .main__preview:nth-child(4) {
  bottom: 125px;
  width: 180px;
  right: 60px;
}

.main__preview:nth-child(5) {
  width: 768px;
}

.main__view[data-aos] .main__preview:nth-child(4) {
  -webkit-transform: translate(40px, 40px);
  -ms-transform: translate(40px, 40px);
  transform: translate(40px, 40px);
}

.main__view[data-aos] .main__preview:nth-child(5) {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

.main__view[data-aos].aos-animate .main__preview:nth-child(4) {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.main__view[data-aos].aos-animate .main__preview:nth-child(5) {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
} */
/* Main Component CSS End */

/* Features Component CSS Start */
.features__pic {
  width: auto;
}
/* Features Component CSS End */

.whatsapp-btn-outer {
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
}

.whatsapp-btn {
  width: 50px;
}

.main__title {
  font-size: 60px;
  line-height: 1.1;
}

/* Layout Component CSS Start */
.layout-pic-react {
  position: absolute;
  left: 316px;
  width: 130px;
  top: 133px;
}

.layout-pic-andoid {
  position: absolute;
  bottom: 16%;
  left: 38%;
}

.layout-pic-python {
  position: absolute;
  bottom: 25%;
  left: 52%;
}

.layout-pic-node {
  position: absolute;
  top: 84px;
  right: 45px;
}

.layout-pic-php {
  position: absolute;
  top: 48px;
  left: 62px;
  width: 75px;
}

.layout-pic-ror {
  position: absolute;
  bottom: 51px;
  right: 13px;
  width: 80px;
}
/* Layout Component CSS End */

@media only screen and (max-width: 1023px) {
  .main__title {
    font-size: 50px;
    line-height: 1.1;
  }

  .contact__arrow {
    position: absolute;
    bottom: 200px;
    left: -10px;
  }

  .contact_arrow_pic {
    width: 180px;
  }

  /* Layout Component CSS Start */
  .layout-pic-react {
    left: 299px;
    width: 110px;
    top: 128px;
  }

  .layout-pic-andoid {
    width: 60px;
  }

  .layout-pic-python {
    bottom: 23%;
    width: 50px;
  }

  .layout-pic-node {
    top: 55px;
    right: 25px;
    width: 40px;
  }

  .layout-pic-php {
    top: 20px;
    left: 29px;
    width: 65px;
  }

  .layout-pic-ror {
    bottom: 28px;
    right: 2px;
    width: 55px;
  }
  /* Layout Component CSS End */

  /* Main Component CSS Start */
  /* .main__preview:nth-child(4) {
    width: 200px;
  }

  .main__preview:nth-child(5) {
    width: 700px;
  } */
  /* Main Component CSS End */
}

@media only screen and (max-width: 767px) {
  .main__title {
    font-size: 40px;
    line-height: 1.5;
  }

  /* Contact Component CSS Start */
  .contact__logo {
    width: 145px;
    margin: 0;
  }

  .contact__arrow {
    position: absolute;
    bottom: 270px;
    left: -25px;
    z-index: 2;
  }

  .contact_arrow_pic {
    width: 100px;
  }

  .contact_body {
    z-index: 1;
  }

  .contact__head {
    padding-bottom: 0;
  }

  .field_text_area {
    height: 100px;
  }
  /* Contact Component CSS End */

  /* Layout Component CSS Start */
  .layout-pic-react {
    left: 240px;
    width: 100px;
    top: 100px;
  }

  .layout-pic-andoid {
    width: 50px;
  }

  .layout-pic-python {
    bottom: 23%;
    width: 45px;
  }

  .layout-pic-node {
    top: 45px;
    right: 22px;
    width: 30px;
  }

  .layout-pic-php {
    top: 12px;
    left: 19px;
    width: 60px;
  }

  .layout-pic-ror {
    bottom: 18px;
    right: 0;
    width: 50px;
  }
  /* Layout Component CSS End */

  /* Main Component CSS Start */
  /* .main__preview:nth-child(4) {
    right: calc(50% - 125px);
    bottom: 35px;
    width: 130px;
  }
  
  .main__preview:nth-child(5) {
    width: auto;
    margin: 0 -90px 0 -42px;
    text-align: center;
  }

  .main__preview:nth-child(5) .main__pic {
    max-width: 420px;
  } */
  /* Main Component CSS End */
}

@media only screen and (max-height: 767px) {
  .contact-entry-center {
    height: 100%;
  }
}
