/* utility class */
.blogbackbtn {
  position: relative;
  top: 150px;
  left: 60px;
  z-index: 1;
}
@media (max-width: 992px) {
  .blogbackbtn {
    top: 100px;
  }
}
.hireh1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: #292930;
  margin-left: 4px;
  margin-bottom: 24px;
}
.hireh6 {
  font-family: 'Poppins,Arial, Helvetica, sans-serif';
  font-weight: 400;
  font-size: 3.5rem;
  color: black;
  font-style: normal;
  margin-left: 57px;
  margin-top: 50px;
}
.hire-desc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fb2e3b;
  margin-bottom: 32px;
}
.servicefooternavcontainer {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-top: 27px;
  margin-bottom: 24px;
}
.hireh2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-top: 27px;
  margin-bottom: 24px;
}
.hireh3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 8px;
}
.hire-h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #292930;
}
.headingblue {
  display: flex;
  gap: 26px;
  margin-top: 27px;
  margin-bottom: 8px;
}
.hireh2blue {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #5956e9;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hireicontext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.hirep {
  font-family: 'Poppins';
  list-style-position: outside;
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #292930;
}
.hire_list_items li {
  font-size: 16px;
  font-family: Poppins;
  list-style-position: outside;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #292930;
}
.hire_list_items_services li {
  font-size: 18px;
  font-family: Poppins;
  list-style-position: outside;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #292930;
}

.hirelist li {
  font-family: 'Poppins';
  list-style-position: outside;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #292930;
}
.hirelist li {
  font-size: 16px;
  /* margin-bottom: 12px; */
}
.hirep {
  margin-bottom: 16px;
}
.hire-header {
  margin-bottom: 24px;
}
.hire-team-h3 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #333333;
}

.techservicebody {
  display: flex;
  padding-block: 0px 116px;
  justify-content: space-between;
}
.techAIservicebody {
  padding-block: 0px 30px;
  justify-content: space-between;
}
.techservicebodyleft {
  flex-basis: 55%;
}
.techservicebodyright {
  padding-right: 74px;
  width: 400px;
}
.service__btn {
  padding: 1em 1.5em;
}

.hirecontainer {
  position: relative;
  margin: auto;
  width: 82%;
  /* padding-inline: 60px; */
  /* padding-right: 60px; */
  /* max-width: 1440px; */
  /* background: rgba(95, 226, 99, 0.25); */
}
.tech-component-container {
  margin-top: 37px;
  margin-bottom: 100px;
}
.shade1 {
  position: relative;
}
.greyshade {
  position: absolute;
  top: -15px;
  left: -55px;
  z-index: -999;
  width: 98vw;
  height: 105%;
  overflow: hidden;
  background: #fafafa;
}
.bannercloud {
  position: absolute;
  z-index: 1;
  width: 111px;
  height: 82px;
  left: 37%;
  top: 90%;
}

.bannertype {
  position: absolute;
  z-index: 999;
  right: 4px;
  top: 87%;
}
.marginbottom8 {
  margin-bottom: 8px;
}
.marginbottom100 {
  margin-bottom: 100px;
}
.gap-col {
  margin-top: 24px;
  gap: 24px;
}

.hirecontainerbodycontent {
  width: 82%;
  /* height: 50vw; */
  margin: auto;
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 50px;
  /* background: rgba(0, 0, 0, 0.25); */
}
.hirecontainerbodyleftcontent {
  /* background: rgba(238, 16, 16, 0.25); */
  flex: 1;
  /* display: none; */
}
.hirecontainerbodyrightcontent {
  max-width: 400px;
  /* background: rgba(95, 226, 99, 0.25); */
  /* display: none; */
}

.hirecontainerbody {
  display: flex;
  margin-top: 170px;
  gap: 50px;
}
.hirecontainerbodyleft {
  flex-basis: 55%;
}
.hirecontainerbodyright {
  max-width: 400px;
}

.hiringmodels {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.hiringmodel {
  width: 35%;
}
.hiringmodel:nth-child(2) {
  border-left: 0.5px dotted slategrey;
  padding-left: 15px;
}

.hiringmodel:nth-child(3) {
  border-left: 0.5px dotted slategrey;
  padding-left: 15px;
}

.hirefreebanner {
  min-height: 86px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #fab8c4;
  gap: 20px;
  flex-basis: calc(25%-10px);
  position: relative;
  overflow: hidden;
}

.hirelogo {
  padding-block: 10px;
  height: 46px;
}

.toprated {
  font-weight: 800;
  font-size: 14px;
  height: 40px;
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: -18px;
  transform: rotate(-46deg);
}

.hirelist {
  list-style-type: disc;
  padding-left: 22px;
}

.root p {
  font-size: 18px;
}

.hirecontainerbodyleftcontent {
  /* flex-basis: 60%; */
}

.hirecontainerbodyrightcontent {
  /* border-left: 1px dotted gray;
  flex-basis: 35%;
  padding-left: 10px; */
}

.hirecontainerbodyrightcontent {
  font-weight: bold;
}
.domain-list li {
  padding-left: 35px;
  padding-block: 10px;
  font-size: 20px;
}

.bodylist {
  list-style-type: disc;
  padding-left: 15px;
  padding-block: 10px;
}

.hirecontainerbodyright {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tick {
  font-size: 30px;
  color: darkgoldenrod;
  padding-inline: 5px;
}

.hirecontainerbodyright {
  border: 0.5px solid lightgray;
  border-radius: 32px;
  padding: 20px;
}
.mainAIcontainer {
  margin-top: 25px;
  padding: 0px 65px 0px;
}
.smalltext {
  font-size: 14px;
}

.cursor_pointer {
  padding-right: 10px;
}
.cursor_pointer {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .hire-header {
    font-size: 36px;
  }
  .hireh2 {
    font-size: 28px;
    line-height: 40px;
  }
  .hireh2blue {
    font-size: 28px;
    line-height: 40px;
  }

  .greyshade {
    left: -60px;
    width: 99vw;
  }
  .black-circle {
    /* right: 0px; */
  }
}
@media screen and (max-width: 991px) {
  .bannercloud {
    width: 111px;
    height: 82px;
    left: 37%;
    top: 96%;
  }
  .techservicebodyright {
    width: 350px;
  }
  .AIservicebodyright {
    width: 350px;
  }
  /* .hire-container-body-right {
    max-width: 300px;
  } */
  .hireh2 {
    line-height: 32px;
  }
  .hireh2blue {
    line-height: 32px;
  }
  .hireh3 {
    font-size: 20px;
    line-height: 24px;
  }
  .black-circle {
    /* right: 3px; */
  }
  .blue-circle {
    left: -25px;
  }
  .formservice {
    margin-top: 20px;
  }
  .techservicebody {
    padding-block: 0px 36px;
  }
  .techAIservicebody {
    padding-block: 0px 36px;
  }
  /* .AIservicebody {
    padding-block: 0px 36px;
  } */
  .techservicebodyright {
    padding-right: 0px;
  }

  .AIservicebodyright {
    padding-right: 0px;
  }
  .hiringmodel:nth-child(2) {
    border-left: none;
    padding-left: 0px;
  }

  .hiringmodel:nth-child(3) {
    border-left: none;
    padding-left: 0px;
  }

  .hire-team-header {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .hireh2 {
    font-size: 24px;
  }
  .headingblue {
    font-size: 24px;
  }
  .hire-header {
    font-size: 32px;
  }
  .hire-team-h3 {
    font-size: 20px;
  }
  .hiringmodels {
    flex-direction: column;
  }
  .hiringmodel {
    width: 100%;
  }

  .hirecontainer {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 35px;
  }

  .hirecontainerbodyrightcontent {
    border-left: none;
  }

  .hire-header {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .hirecontainerbody {
    flex-direction: column;
  }

  .hirecontainerbodyleft {
    width: 100%;
  }

  .hirecontainerbodyright {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .hirecontainerbodycontent {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hirecontainerbodyleftcontent {
    width: 100%;
    /* margin-top: -45px; */
  }

  .hirecontainerbody {
    margin-top: 110px;
  }

  .hirecontainerbody {
    gap: 10px;
  }

  .hiringmodels {
    gap: 30px;
  }

  .hire-team-h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  /* top rated banner */

  .toprated {
    font-weight: 800;
    font-size: 10px;
    height: 32px;
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    left: -46px;
    transform: rotate(-46deg);
  }
}

@media screen and (max-width: 479px) {
  .hireh1 {
    font-size: 2rem;
  }
  .hireh2 {
    font-size: 1.5rem;
  }
  .hireh2blue {
    font-size: 1.5rem;
  }
  .hireh3 {
    font-size: 1.25rem;
    margin-bottom: 4px;
  }
  .techservicebodyright {
    width: 250px;
  }
  .AIservicebodyright {
    width: 250px;
  }
  .hirecontainerbodycontent {
    margin-top: -25px;
  }
  .hire-team-header {
    font-size: 28px;
  }
  .hire-header {
    font-size: 28px;
  }

  .greyshade {
    left: -20px;
    height: 102%;
  }
  .bannercloud {
    display: none;
  }
  .hirecontainer {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .hirecontainerbodyright {
    width: 300px;
  }

  .domain-list li {
    padding-left: 0px;
  }

  .hirelist {
    padding-left: 20px;
  }
  .hirecontainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hirecontainerbodyrightcontent {
    border: none;
  }

  .hirecontainerbodyright {
    border: none;
  }
  .hirecontainerbody {
    gap: 0px;
  }
  .hirep {
    font-size: 16px;
    word-wrap: break-word;
  }
  .hirecontainerbodyleft {
    padding-left: 15px;
    padding-top: 0px;
  }

  .hirecontainerbodyright {
    padding: 0px;
  }

  .toprated {
    font-weight: 800;
    font-size: 5px;
    height: 17px;
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    left: -62px;
    transform: rotate(-46deg);
  }
  .blue-circle {
    display: none;
  }
  /* .black-circle {
    display: none;
  } */
}

/* hire team page */
.margineleft8px {
  margin-left: 8px;
}
.marginebottom16px {
  margin-bottom: 16px;
}

/* .hire-list-icon {
  list-style-image: url('/icons/service-icon/check-broken.svg');
  list-style-position: outside;
} */
/* .hire-list-icon {
  list-style: none;
  width: 100%;
} */
.hirelisticon {
  margin-left: 10px;
}
.hirelisticon li {
  /* content: ''; */
  /* display: inline-block; */
  background-image: url('/icons/service-icon/check-broken.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left top;
  text-align: left;
}

.Aicontainerrighttext {
  margin-left: 55px;
  margin-top: 26px;
}
.AIcontainer {
  background-image: linear-gradient(
    to right,
    rgba(236, 242, 246, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 3rem;
  margin-left: 50px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
  padding-top: 9px;
}

.solutiontext {
  margin-bottom: 30px;
  width: 460px;
  color: rgb(167, 172, 176);
  margin-left: 74px;
  margin-top: 38px;
  font-size: 18px;
  font-family: 'Poppins';
}

.AIservicebody {
  display: flex;
  padding-block: 0px 80px;
}

.Aicontainerleftttext {
  margin-left: 124px;
  margin-top: 50px;
}
.AIlisticon li {
  background-position: left top;
  text-align: left;
  font-weight: 600;
  list-style-type: disc;
  font-size: 20px;
  font-family: 'Poppins';
}
.AIlisticon ul {
  color: black;
  padding: 0;
}
.AIservicebodyright {
  padding-right: 74px;
  width: 400px;
  width: 50%;
}
.AIservicebodyleft {
  width: 50%;
}
.AIbottomcircle1 {
  bottom: -9%;
  right: 2%;
  position: absolute;
  height: 130px;
  width: 130px;
  background-color: #d9d9db;
  border-radius: 50%;
  z-index: 1;
}
.AItopcircle {
  top: -4%;
  left: 87%;
  background-color: #fab8c4;
  border-radius: 50px;
  position: absolute;
  height: 50px;
  width: 50px;
}
.AIbottomcircle2 {
  bottom: 38%;
  left: 50%;
  height: 45px;
  width: 45px;
  background-color: #5956e9;
  border-radius: 50px;
  position: absolute;
}
/* .Aiconatinerright {
  margin-left: 80px;
} */
.adjustvicebodyleft {
  margin-top: 2vw;
}

.hirelisticon li::before {
  background-size: 20px 20px;
}

.marginleft25px {
  margin-left: 35px;
}
.marginleft22px {
  margin-left: 22px;
}
.marginbottom24px {
  margin-bottom: 24px;
}
.marginbottom8px {
  margin-bottom: 8px;
}
.margintop32px {
  margin-top: 40px;
}

.headingicon {
  /* width: 82px;
  height: 82px; */
  display: flex;
  padding: 0.7em;
  /* border:0.5px solid rgb(170, 183, 197); */
  outline: rgb(213, 219, 226) solid 0.5px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 8px;
}

/*services css */

/* resets */

.service-h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  letter-spacing: -0.025em;
  color: #292930;
}

.secondary-header {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: #292930;
}

.service-h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  color: #333333;
}

.service-h3 {
  margin-top: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.service-p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #292930;
}

.primary-service-button {
  width: 180px;
  height: 72px;
  left: 60px;
  top: 559px;
  background: #5654f5;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  transition: all 0.25s;
}

.primary-service-button:hover {
  background: #423efe;
}

.servicecontainer {
  height: auto;
  margin-inline: auto;
  padding-left: 60px;
  padding-right: 60px;
  /* border:1px solid black */
}

/* utilities class */

/* service body section */

.service-container-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 127px;
}

.service-container-body-content {
  border: 1px solid red;
  display: flex;
  flex-basis: 40%;
  gap: 35px;
}

.service-container-body-left-content {
  border: 1px solid green;
}

.formservice {
  border: 0.5px solid lightgray;
  border-radius: 32px;
  padding: 20px;
  max-height: 665px;
  max-width: 470px;
  margin: 0px auto;
  background: #ffffff;
}

/* tech service container */
.techservicebody {
  min-height: 370px;
  display: flex;
  margin-top: 90px;
}
.techAIservicebody {
  min-height: 370px;
  display: flex;
  margin-top: -70px;
}
.AIservicebody {
  display: flex;
  gap: 70px;
  margin-top: 10px;

  margin-left: 15px;
}
.tech-service-body-left-left {
  flex-basis: 60%;
  border: none;
}
.tech-service-body-left-right {
  flex-basis: 30%;
  border: none;
}
.tech-service-body-left-right img {
  height: 280px;
}
.service-container-body-right img {
  width: 370px;
}
.service-container-body-left h1 {
  margin-top: 140px;
  margin-bottom: 24px;
}

.service-container-body-left p {
  color: #fb2e3b;
  max-width: 589px;
  margin-bottom: 64px;
}

.service-container-body-left button {
  margin-bottom: 192px;
}

.service-container-nav-logo {
  max-height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background: #292930; */
  gap: 20px;
}

.navlogoslider {
  background: #292930;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navlogoslider {
  color: white;
  padding-block: 28px;
}
.navlogoslider img {
  height: 30px;
}
/* .service-container-nav-logo img {
  max-width: 30%;
  height: 133px;
  /* padding-block: 48.5px; */
/* }  */

/* Body Content */
.service-container-body-content {
  display: flex;
  margin-top: 77px;
  flex-basis: 50%;
}

.service-container-body-right-content {
  margin-inline: auto;
}

.service-container-body-right-content {
  max-width: 400px;
}

.service-container-body-left-content-3 h2 {
  margin-top: 37px;
}

.service-container-body-left-content-2 h2 {
  margin-top: 27px;
}

/* Footer CSS*/

.servicefooter h2 {
  /* margin-top: 132px; */
  margin-bottom: 30px;
}

.servicefooternavcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0px;
  gap: 43px;
  width: 353px;
}
.servicefooternavcontainer li {
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: #292930;
}

.servicefooternavcontainer li:hover {
  color: blue;
  text-decoration: underline;
}

.servicefooternavcontainerlogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 84px;
  padding: 35px 175px 87px;
}
.marginleft30px {
  margin-left: 30px;
}
/* media query */

@media screen and (max-width: 1439px) {
  .hirecontainer {
    width: 92%;
  }
}

@media screen and (max-width: 1180px) {
  .adjustservicebody {
    gap: 0px;
    margin-left: 0px;
  }
  .Aiconatinerright {
    width: 50%;
  }
  .Aiservicebodyleft {
    width: 50%;
  }
  .solutiontext {
    width: 79%;
  }
}
@media screen and (max-width: 991px) {
  .servicecontainer {
    padding-left: 45px;
    padding-right: 45px;
  }

  .techservicebodyleft {
    text-align: center;
  }
  .AIservicebodyleft {
    text-align: center;
  }

  .tech-service-body-left-right {
    text-align: center;
  }
  .tech-service-body-left-right img {
    height: 230px;
    margin: 0px auto;
  }

  .service-container-body-right img {
    width: 300px;
  }

  .service-container-body-right-content {
    display: flex;
    justify-content: center;
  }
  .service-h1 {
    font-size: 60px;
  }

  .service-container-body-content {
    flex-direction: column-reverse;
  }

  .techservicebody {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .techAIservicebody {
    flex-direction: column-reverse;
  }
  .AIservicebody {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  .servicebody {
    flex-direction: column;
  }
  .service-container-body-left h1 {
    margin-top: 50px;
  }
  .service-container-nav-logo {
    justify-content: space-evenly;
    gap: 0px;
  }

  .service-container-nav-logo {
    padding-block: 0px;
  }

  .service-container-nav-logo img {
    height: 133px;
  }

  .service-container-body-left button {
    margin-bottom: 50px;
  }

  .secondary-header {
    font-size: 80px;
  }
  .adjusAItservicebody {
    margin-top: -6vw;
  }
  .Aicontainerleftttext {
    margin-left: 155px;
  }
  .AIimage {
    margin-left: 93px;
  }
  .AIcontainer {
    padding-top: 10px;
    margin-left: -83px;
  }
  .hireh6 {
    margin-left: 92px;
    margin-top: 30px;
  }
  .Aiservicebodyleft {
    margin-left: 43px;
    margin-top: -15px;
  }
  .solutiontext {
    margin-left: 123px;
  }
  .Aiconatinerright {
    margin-top: -46px;
    margin-left: 145px;
  }
  .AIbottomcircle2 {
    bottom: 51%;
    left: 79%;
  }
  .solutiontext {
    width: 580px;
  }
  .mainAIcontainer {
    padding: 0px;
  }
  .Aiconatinerright,
  .Aicontainerleftttext {
    width: 100%;
  }
}

/*  */
@media screen and (max-width: 767px) {
  .servicecontainer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .service-container-body {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service-container-body-left {
    text-align: center;
  }

  .service-h1 {
    font-size: 50px;
  }
  .service-container-body-left button {
    margin-bottom: 0px;
  }

  .servicefooter h2 {
    /* margin-top: 60px; */
    margin-bottom: 20px;
  }
  .servicefooternavcontainer {
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .formservice {
    border: none;
    padding: 0px;
  }
  .servicecontainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .service-container-body-right img {
    width: 210px;
  }
  .service-container-body-right-content {
    width: 300px;
    /* margin-left: -90px; */
  }
  .service-container-body-left p {
    display: none;
  }
  .service-h2 {
    font-size: 2rem;
    line-height: 30px;
    color: #333333;
  }

  .primary-service-button {
    width: 140px;
    height: 56px;
    font-size: 14px;
  }
  .service-h1 {
    font-size: 35px;
  }
  .service-h3 {
    font-size: 20px;
  }
  .service-p {
    font-size: 14px;
  }
  .servicefooternavcontainerlogo {
    padding-bottom: 10px;
  }

  .service-container-body-left h1 {
    margin-top: 10px;
  }

  .servicefooter h2 {
    /* margin-top: 35px; */
    margin-bottom: 20px;
  }

  .secondary-header {
    font-size: 35px;
  }

  .adjustAIservicebody {
    margin-top: -10vw;
  }
  .AIcontainer {
    width: 500px;
    margin-left: -44px;
    border-radius: 0rem;
  }
  .solutiontext {
    width: 330px;
    margin-left: 52px;
    margin-top: 0px;
  }
  .hireh6 {
    margin-top: 25px;
    margin-left: 54px;
  }
  .AItopcircle {
    display: none;
  }
  .AIbottomcircle1 {
    display: none;
  }
  .AIbottomcircle2 {
    display: none;
  }
  .Aiconatinerright {
    margin-top: -48px;
    width: 410px;
    margin-left: 23px;
  }
  .Aicontainerleftttext {
    margin-left: 80px;
    width: 320px;
  }
  .mainAIcontainer {
    margin-top: 10px;
  }
  .Aiservicebodyleft {
    margin-left: -5px;
    margin-top: -15px;
  }
  .AIimage {
    margin-left: 20px;
  }
}
