/* utility class */

.hire-h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: #292930;
  margin-left: 4px;
  margin-bottom: 24px;
}

.hire-desc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fb2e3b;
  margin-bottom: 32px;
}
.hire-h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-top: 27px;
  margin-bottom: 24px;
}

.hire-h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 8px;
}
.hire-h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #292930;
}
.heading-blue {
  display: flex;
  gap: 26px;
  margin-top: 27px;
  margin-bottom: 8px;
}
.hire-h2-blue {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #5956e9;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hire-icon-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.hire-p,
li {
  font-family: 'Poppins';
  list-style-position: outside;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #292930;
}
.hire-list li {
  font-size: 16px;
  /* margin-bottom: 12px; */
}
.hire-p {
  margin-bottom: 16px;
}
.hire-header {
  margin-bottom: 24px;
}
.hire-team-h3 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #333333;
}

.tech-service-body {
  display: flex;
  padding-block: 0px 116px;
  justify-content: space-between;
}
.tech-service-body-left {
  flex-basis: 55%;
}
.tech-service-body-right {
  padding-right: 74px;
  width: 400px;
}
.service__btn {
  padding: 1em 1.5em;
}

.hire-container {
  position: relative;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  /* outline: rgb(230, 5, 5) solid; */
  max-width: 1440px;
}
.tech-component-container {
  margin-top: 37px;
  margin-bottom: 100px;
}
.shade-1 {
  position: relative;
}
.grey-shade {
  position: absolute;
  top: -15px;
  left: -55px;
  z-index: -999;
  width: 98vw;
  height: 105%;
  overflow: hidden;
  background: #fafafa;
}
.blue-circle {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  left: -31px;
  top: 1590px;
  /* Color/Primary */
  overflow: hidden;

  background: #5956e9;
}
/* .black-circle {
  position: absolute;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  right: -25px;
  top: 1000px;
  background: #27272e;
  z-index: 999;
  overflow: hidden;
} */
.banner-cloud {
  position: absolute;
  z-index: 1;
  width: 111px;
  height: 82px;
  left: 37%;
  top: 90%;
}

.banner-type {
  position: absolute;
  z-index: 999;
  right: 4px;
  top: 87%;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.gap-col {
  margin-top: 24px;
  gap: 24px;
}

.hire-container-body-content {
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.hire-container-body-left-content {
  flex-basis: 55%;
}
.hire-container-body-right {
  max-width: 400px;
}

.hire-container-body {
  display: flex;
  margin-top: 200px;
  gap: 50px;
}
.hire-container-body-left {
  flex-basis: 55%;
}
.hire-container-body-right {
  max-width: 400px;
}

.hiring-models {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.hiring-model {
  width: 35%;
}
.hiring-model:nth-child(2) {
  border-left: 0.5px dotted slategrey;
  padding-left: 15px;
}

.hiring-model:nth-child(3) {
  border-left: 0.5px dotted slategrey;
  padding-left: 15px;
}

.hire-free-banner {
  min-height: 86px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #fab8c4;
  gap: 20px;
  flex-basis: calc(25%-10px);
  position: relative;
  overflow: hidden;
}

.hire-logo {
  padding-block: 10px;
  height: 46px;
}

.top-rated {
  font-weight: 800;
  font-size: 14px;
  height: 40px;
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: -18px;
  transform: rotate(-46deg);
}

.hire-list {
  list-style-type: disc;
  padding-left: 22px;
}

p {
  font-size: 18px;
}

.hire-container-body-left-content {
  flex-basis: 60%;
}

.hire-container-body-right-content {
  border-left: 1px dotted gray;
  flex-basis: 35%;
  padding-left: 10px;
}

.hire-container-body-right-content {
  font-weight: bold;
}
.domain-list li {
  padding-left: 35px;
  padding-block: 10px;
  font-size: 20px;
}

.body-list {
  list-style-type: disc;
  padding-left: 15px;
  padding-block: 10px;
}

.hire-container-body-right {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tick {
  font-size: 30px;
  color: darkgoldenrod;
  padding-inline: 5px;
}

.hire-container-body-right {
  border: 0.5px solid lightgray;
  border-radius: 32px;
  padding: 20px;
}

.small-text {
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .hire-header {
    font-size: 36px;
  }
  .hire-h2,
  .hire-h2-blue {
    font-size: 28px;
    line-height: 40px;
  }

  .grey-shade {
    left: -60px;
    width: 99vw;
  }
  .black-circle {
    /* right: 0px; */
  }
}
@media screen and (max-width: 991px) {
  .banner-cloud {
    width: 111px;
    height: 82px;
    left: 37%;
    top: 96%;
  }
  .tech-service-body-right {
    width: 350px;
  }
  /* .hire-container-body-right {
    max-width: 300px;
  } */
  .hire-h2,
  .hire-h2-blue {
    line-height: 32px;
  }
  .hire-h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .black-circle {
    /* right: 3px; */
  }
  .blue-circle {
    left: -25px;
  }
  .form-service {
    margin-top: 20px;
  }
  .tech-service-body {
    padding-block: 0px 36px;
  }
  .tech-service-body-right {
    padding-right: 0px;
  }

  .hiring-model:nth-child(2) {
    border-left: none;
    padding-left: 0px;
  }

  .hiring-model:nth-child(3) {
    border-left: none;
    padding-left: 0px;
  }

  .hire-team-header {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .hire-h2,
  .heading-blue {
    font-size: 24px;
  }
  .hire-header {
    font-size: 32px;
  }
  .hire-team-h3 {
    font-size: 20px;
  }
  .hiring-models {
    flex-direction: column;
  }
  .hiring-model {
    width: 100%;
  }

  .hire-container {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 35px;
  }

  .hire-container-body-right-content {
    border-left: none;
  }

  .hire-header {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .hire-container-body {
    flex-direction: column;
  }

  .hire-container-body-left {
    width: 100%;
  }

  .hire-container-body-right {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .hire-container-body-content {
    flex-direction: column-reverse;
  }

  .hire-container-body-left-content {
    width: 100%;
    /* margin-top: -45px; */
  }

  .hire-container-body {
    margin-top: 110px;
  }

  .hire-container-body {
    gap: 10px;
  }

  .hiring-models {
    gap: 30px;
  }

  .hire-team-h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  /* top rated banner */

  .top-rated {
    font-weight: 800;
    font-size: 10px;
    height: 32px;
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    left: -46px;
    transform: rotate(-46deg);
  }
}

@media screen and (max-width: 479px) {
  .hire-h1 {
    font-size: 2rem;
  }
  .hire-h2,
  .hire-h2-blue {
    font-size: 1.5rem;
  }
  .hire-h3 {
    font-size: 1.25rem;
    margin-bottom: 4px;
  }
  .tech-service-body-right {
    width: 250px;
  }
  .hire-container-body-content {
    margin-top: -25px;
  }
  .hire-team-header {
    font-size: 28px;
  }
  .hire-header {
    font-size: 28px;
  }

  .grey-shade {
    left: -20px;
    height: 102%;
  }
  .banner-cloud {
    display: none;
  }
  .hire-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .hire-container-body-right {
    width: 300px;
  }

  .domain-list li {
    padding-left: 0px;
  }

  .hire-list {
    padding-left: 20px;
  }
  .hire-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hire-container-body-right-content {
    border: none;
  }

  .hire-container-body-right {
    border: none;
  }
  .hire-container-body {
    gap: 0px;
  }
  .hire-p {
    font-size: 16px;
    word-wrap: break-word;
  }
  .hire-container-body-left {
    padding-left: 15px;
    padding-top: 0px;
  }

  .hire-container-body-right {
    padding: 0px;
  }

  .top-rated {
    font-weight: 800;
    font-size: 5px;
    height: 17px;
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    left: -62px;
    transform: rotate(-46deg);
  }
  .blue-circle {
    display: none;
  }
  /* .black-circle {
    display: none;
  } */
}

/* hire team page */
.margine-left-8px {
  margin-left: 8px;
}
.margine-bottom-16px {
  margin-bottom: 16px;
}

/* .hire-list-icon {
  list-style-image: url('/icons/service-icon/check-broken.svg');
  list-style-position: outside;
} */
/* .hire-list-icon {
  list-style: none;
  width: 100%;
} */
.hire-list-icon {
  margin-left: 10px;
}
.hire-list-icon li {
  /* content: ''; */
  /* display: inline-block; */
  background-image: url('/icons/service-icon/check-broken.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left top;
  text-align: left;
}

.hire-list-icon li::before {
  background-size: 20px 20px;
}

.margin-left-25px {
  margin-left: 35px;
}
.margin-left-22px {
  margin-left: 22px;
}
.margin-bottom-24px {
  margin-bottom: 24px;
}
.margin-bottom-8px {
  margin-bottom: 8px;
}
.margin-top-32px {
  margin-top: 40px;
}

.heading-icon {
  /* width: 82px;
  height: 82px; */
  display: flex;
  padding: 0.7em;
  /* border:0.5px solid rgb(170, 183, 197); */
  outline: rgb(213, 219, 226) solid 0.5px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 8px;
}
