.main_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 10px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  /* border: .5px solid green; */
}

.main_container h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
}

.left_container form {
  width: 370px;
  padding: 3rem 3rem;
}

.left_container form img {
  display: none;
}

.left_container form h1 {
  font-size: 28px;
  font-family: Poppins;
  font-weight: 400;
}

.request_btn {
  padding: 2px 4px;
  background: #5956e9;
  color: white;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  transition: 0.35s ease-in-out;
}

.request_btn:hover {
  background-color: #6a75e8f8;
}

.request_textarea {
  min-height: 88px;
}

.flag_icon_container {
  display: flex;
  padding: 4px 8px;
  /* overflow: hidden; */
  gap: 5px;
}

.flag_icon_container select {
  border: none;   
  background: none;
  width: 80px;
  border-right: 1px solid lightgray;
  margin-right: 2px;
}

.flag_icon_container p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgray;
  padding: 4px 2px;
}

/* Right container CSS */
.right_container {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 280px;
  padding: 3rem 2rem;
}

.right_container p {
  font-size: 16px;
}

.tech_container {
  width: 170px;
  height: 170px;
  overflow: hidden;
  padding: 15px;
  margin: 85px 15px;
  background: rgb(90,95,225,0.2)
  /* display: none; */
}



.live_btn {
  padding: 8px 8px;
  font-weight: 500;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.live_btn_container {
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
}

.phone_input input {
  overflow: hidden;
  width: 178px;
  /* border: 1px solid red; */
}
@media only screen and (max-width: 768px) {
  .right_container {
    display: none;
  }
  .left_container form {
    width: 100%;
  }
  .left_container form img {
    display: block;
  }

  .left_container form h1 {
    font-size: 28px;
    font-family: Poppins;
    font-weight: 400;
  }
}
