.shimmer {
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4;
  --shimmer-bg-color: rgba(222, 215, 215, 0.832);
}

.gray {
  background-color: var(--shimmer-bg-color);
}
.display_None {
  display: none;
}
.container {
  width: 100vw;
  height: 150vh;
  padding: 50px;
  margin: auto;
}
.upper_container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper_container_item {
  height: 46%;
  width: 40%;
  border-radius: 20px;
  background-color: var(--shimmer-bg-color);
}
.lower_container {
  width: 100%;
  height: 20vh;
  margin-top: 0.5rem;
}
.lower_container div :nth-child(1) {
  width: 40vw;
  height: 1.2vh;
  margin: auto;
  background: var(--shimmer-bg-color);
  border-radius: 12px;
  margin-bottom: 0.3rem;
}
.lower_container div :nth-child(2) {
  width: 35vw;
  height: 1.2vh;
  margin: auto;
  background: var(--shimmer-bg-color);
  border-radius: 12px;
  margin-bottom: 0.3rem;
}
.lower_container div :nth-child(3) {
  width: 40vw;
  height: 1.2vh;
  margin: auto;
  background: var(--shimmer-bg-color);
  border-radius: 12px;
  margin-bottom: 0.3rem;
}
.lower_container div :nth-child(4) {
  width: 40vw;
  height: 1.2vh;
  margin: auto;
  background: var(--shimmer-bg-color);
  border-radius: 12px;
  margin-bottom: 0.3rem;
}
.lower_container div :nth-child(5) {
  width: 35vw;
  height: 1.2vh;
  margin: auto;
  background: var(--shimmer-bg-color);
  border-radius: 12px;
  margin-bottom: 0.3rem;
}
.lower_container div :nth-child(6) {
  width: 25vw;
  height: 1.2vh;
  margin: auto;
  background: var(--shimmer-bg-color);
  border-radius: 12px;
  margin-bottom: 0.3rem;
}
.lower_container_item_2 {
  margin: auto;
  margin-top: 1rem;
  background-color: var(--shimmer-bg-color);
  width: 35%;
  height: 27%;
  border-radius: 20px;
}
.width_20 {
  width: 20%;
}
@media (max-width: 735px) {
  .lower_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
  }
  .lower_container_item {
    display: flex;
    width: 90%;
    height: 1000px;
  }
  .upper_container_item {
    width: 70%;
    height: 60%;
  }
}
