
.tech-container{
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
min-height: 367px;
padding: 0px;
gap: 45px;
}

.tech-container-div{
    padding: 20px;
    width: 98px;
    height: 162px;
}

.tech-container-img{
/* width: 98px; */
height: 53px;

}

.tech-container-para{
    margin-top: 16px;
    text-align: center;

}

@media screen and (max-width: 991px) {
    .tech-container {
        gap: 40px;
    }
}
@media screen and (max-width: 479px) {
    .tech-container {
        gap: 15px;
    }
}