.techcontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 45px;
}

.techcontainerdiv {
  padding: 20px;
  width: 98px;
  height: 162px;
}

.techcontainerimg {
  /* width: 98px; */
  height: 53px;
}

.techcontainerpara {
  margin-top: 16px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .techcontainer {
    gap: 40px;
  }
}
@media screen and (max-width: 479px) {
  .techcontainer {
    gap: 15px;
  }
}
